*.o
*.lo
*.la
m4
Makefile.in
AnsiGL_test/unit_tests/AUTHORS
AnsiGL_test/unit_tests/COPYING
AnsiGL_test/unit_tests/ChangeLog
AnsiGL_test/unit_tests/INSTALL
AnsiGL_test/unit_tests/NEWS
AnsiGL_test/unit_tests/README
AnsiGL_test/unit_tests/aclocal.m4
AnsiGL_test/unit_tests/autom4te.cache/
AnsiGL_test/unit_tests/config.h.in
AnsiGL_test/unit_tests/configure
AnsiGL_test/unit_tests/.deps/
AnsiGL_test/unit_tests/.libs/
AnsiGL_test/unit_tests/Makefile
AnsiGL_test/unit_tests/ansigl_unit_tests
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
config.h
config.log
config.lt
config.status
libtool
src/.deps/
src/.libs/
src/Makefile
src/ncurses/.deps/
src/ncurses/.libs/
src/ncurses/Makefile
stamp-h1

